.suggestion-box {
    //margin: 30px;
    background-color: white;
    width: 1620px;
    &__wrapper {
        margin: 0 50px;
        padding: 28px 0;
        .suggestion-box__header {
            font-size: 40px;
            margin-bottom: 10px;
        }
        .suggestion-box__description {
            font-size: 30px;
            color: grey;
            margin-bottom: 30px;        
        }
    }

    &__container__buttons { 
        position: relative;
    }

    &__container {
        display: flex;
        margin: 0 50px;
        flex-direction: row;
        min-width: 500px;
        overflow: scroll;
        &::-webkit-scrollbar{
        width: 0px; 
        }
        height: 540px;
        &__buttons__wrapper {

        }
    }
    &__item {
        height: 503px;
        min-width: 400px;
        margin-right: 50px;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        font-size: 30px;
        flex-direction: column;
        
        cursor: pointer;
        img {
            width: 320px;
            height: 320px;
            border-radius: 50%;
        }

        &__artistName, &__name, &__artwork {
            
            min-height: 40px;
        }

        &__artwork {
            background: linear-gradient(135deg, rgba(163, 163, 163, 0.4) 0%, rgba(134, 81, 202, 0.4) 100%);
            background-size: cover;
            height: 400px;
            width: 100%;
            margin-bottom: 10px;
        }
    }
    &__button__next, &__button__back {
        position: absolute;
        width: 65px;
        height: 65px;
        z-index: 2;
        top: 160px;
        background-color: white;
        border: 1px solid #B299D1;
        color: #B299D1;
    }
    &__button__next {
        right: 15px;
        &::after{
            content: '>';
        }
    }
    &__button__back {
        left: 15px;
        &::after{
            content: '<';
        }
    }
}

