<div class="autarization__wrapper">
  <div class="autarization__container">
    <div class="autarization__header-tabs">
      <div class="autarization__header-tabs__sign-in">
        <div class="autarization__header-tabs__sign-up__text">
          Sign in
        </div>
      </div>
      <div class="autarization__header-tabs__sign-up">
        <div class="autarization__header-tabs__sign-up__text">
          Sign up
        </div>
      </div>
    </div>
    <div class="autarization__form__container">
      <form class="autarization__form">
        <div class="autarization__form-input__nickname">
          <input type="text" />
        </div>
        <div class="autarization__form-input__password">
          <input type="password" />
        </div>
        <div class="autarization__form-input__submit">
            <input type="submit" />
          </div>
        <div class="autarization__form-wrapper">
          -------------------------or------------------------
        </div>
        <div class="autarization__form__o-auth">
          <div class="autarization__form__o-auth-vk">

          </div>
          <div class="autarization__form__o-auth-google">
            
          </div>
          <div class="autarization__form__o-auth-facebook">
          
          </div>
          <div class="autarization__form__o-auth-mail">
        
          </div>
        </div>
      </form>
    </div>
  </div>
</div>