<div class="autarization__form__container">
  <form class="autarization__form">
    <div class="autarization__form-input__nickname">
        <input type="text" placeholder="Your name">
        <i class="autarization__user" aria-hidden="true"></i>
    </div>
    <div class="autarization__form-input__password">
      <input type="password" placeholder="Password" />
      <i class="autarization__key"></i>
    </div>
    <div class="autarization__form-input__submit">
        <input type="submit" value="Sign in"/>
      </div>
    <div class="autarization__form-wrapper">
      <h2><span>or</span></h2>
    </div>
    <div class="autarization__form__o-auth">
      <div class="autarization__form__o-auth-vk">

      </div>
      <div class="autarization__form__o-auth-google">
        
      </div>
      <div class="autarization__form__o-auth-facebook">
      
      </div>
      <div class="autarization__form__o-auth-mail">
    
      </div>
    </div>
  </form>
</div>