
<div class="suggestion-box">
  <div class="suggestion-box__wrapper">
      <div class="suggestion-box__header">
        Listen music
      </div>
      <div class="suggestion-box__description">
        Suggestions based on what you've liked or played
      </div>
  </div>
  <div class="suggestion-box__container__buttons">
    <button class="suggestion-box__button__back" (click)="onBackButtonClick()"></button>
    <button class="suggestion-box__button__next" (click)="onNextButtonClick()"></button>
    
    <div class="suggestion-box__container">
      <div class="suggestion-box__item" *ngFor='let song of songs' data-id="{{ song.id }}" (click)="onSelectSong($event)">
        <div class="suggestion-box__item__artwork">
        </div>
        <div class="suggestion-box__item__artistName">
            {{song.artistName}}
        </div>
        <div class="suggestion-box__item__name">
            {{song.name}}
        </div>
      </div>
    </div>
  </div>
</div>
