<div class="authorization__form__container">
  <form class="authorization__form">
    <div class="authorization__form-input input__nickname">
        <input type="text" placeholder="Nickname">
        <i class="authorization__user" aria-hidden="true"></i>
    </div>
    <div class="authorization__form-input input__password">
      <input type="password" placeholder="Password" />
      <i class="authorization__key"></i>
    </div>
    <div class="authorization__form-input input__submit">
        <input type="submit" value="Sign in" routerLink="/home"/>
        <div class="authorization__form-text">
            <div class="authorization__form-text-rm">Remember me?</div>
            <div class="authorization__form-text-fp">Forgot password?</div>
        </div>
        <div></div>
      </div>
    <div class="authorization__form-wrapper">
      <h2></h2><span>or</span><h2></h2>
    </div>
    <div class="authorization__form__o-auth">
      <div class="authorization__form__o-auth-vk">

      </div>
      <div class="authorization__form__o-auth-google">
        
      </div>
      <div class="authorization__form__o-auth-facebook">
      
      </div>
      <div class="authorization__form__o-auth-mail">
    
      </div>
    </div>
  </form>
</div>